.App {
  max-width: 880px;
  margin: 20px auto;
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1, header button {
  margin: 0;
}

button {
  display: inline;
  margin: 0 .4em;
  background: none;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #c23866;
  color: #fff;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}